a:hover {
  color: #575757 !important;
}

a.nav-link,
a.navbarBrand {
  color: white !important;
}

/* Class Styles */

.appNavbar {
  background-color: #ee4f2c;
}

.bgColor {
  background-color: #ee4f2c !important;
}
.comment {
  list-style: none;
}
.commentBlock {
  margin-top: 1%;
}

.guestPage {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 12em !important;
  text-align: center;
}

.navbar-text {
  color: white !important;
}

.postCardTitle {
  font-size: 40px;
  margin-top: 2%;
}

.topicTag {
  text-align: center;
  font-size: 12px;
  width: 10%;
  background-color: grey;
  color: white;
  border-radius: 8px;
}
